<div class="comments">
    {{#each this}}
    <section class="comment">
        {{user.username}} on {{format_date created_at}}
    </section>
    <section class="text">
        {{comment_text}}
    </section>
    {{/each}}
</div>