
{{#if post.length}}
  <div class="">
    <h3>Posts:</h3>
    <ul class="post-list">
      {{#each posts as |post|}}
      <li>
        {{>dashboardPosts post}}
      </li>
       {{/each}}
    </ul>
  </div>
  {{else}}
  <section>
    <h3>No Posts Yet</h3>
  </section>
{{/if}}
<button type="submit"><a href= '/dashboard/create'></a>Add a New Post</button>


