{{>postInfo posts}}

{{#if logged_in}}
<form class='comment-form'>
    <div>
        <textarea name="comment-text">add comment</textarea>
    </div>
</form>
{{/if}}

{{>comments post.comment}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}