<article>
    <form class="update-form">
        <div>
        <input name="post-title" type="text" value="{{post.title}}"/>
        </div>
        <div>
            <label class="post-text"></label>
            <textarea class="post-text" name="post-text">{{post.post_text}}</textarea>
        </div>
        <button type="submit">Save</button>
        <button type="button" class="delBtn">Delete</button>
    </form>
</article>
<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>